html {
    background-color: #a9d7d1;
    font-family: 'Raleway', Helvetica, sans-serif;
    color: #3d3d3d
}

#title {
    text-align: center;
    font-size: 3em;
    color: black;
}

#main {
    background-color: white;
    border-radius: 8px;
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#survey-form {
    display: grid;
    grid-template: "name-label name" "email-label email" "number-label number" "dropdown-label dropdown" "recommendation-label recommendation" "favorite-label favorite" "improvements-label improvements" "comments-label comments" "submit submit" / minmax(200px, 350px) minmax(200px, 350px);
    grid-gap: 35px 20px;
    justify-content: center;
    align-items: flex-start;
}

.label {
    text-align: end;
    font-size: 1.2em;
}

.field {
    text-align: start;
}

@media only screen and (max-width: 500px) {
    #survey-form {
        display: grid;
        grid-template: "name-label" "name" "email-label" "email" "number-label" "number" "dropdown-label" "dropdown" "recommendation-label" "recommendation" "favorite-label" "favorite" "improvements-label" "improvements" "comments-label" "comments" "submit" / minmax(150px, 300px);
        grid-row-gap: 15px;
    }
    .label {
        text-align: start;
    }
    .field {
        margin-bottom: 25px;
        text-align: start;
    }
}

#description {
    font-size: 1.3em;
    margin-bottom: 40px;
    color: #2c2c2c;
}

input.text,
select {
    box-sizing: border-box;
    height: 35px;
    padding: 3px;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
    font-size: 1.05em;
    color: rgb(56, 56, 56)
}

textarea {
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
    font-size: 1.05em;
    color: rgb(56, 56, 56)
}

input.text:focus,
textarea:focus,
select:focus {
    border: 2px solid #02a18c;
}

.option {
    font-size: 1.05em;
    color: rgb(56, 56, 56);
    margin-bottom: 15px;
}

input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.2);
}

.required-mark {
    font-size: 0.7em;
}

#submit {
    grid-area: submit;
    align-self: center;
    justify-self: center;
    width: 150px;
    height: 45px;
    font-size: 1.06em;
    color: rgb(0, 0, 0);
    background: #02a18c;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
}